<div class=" theme--blue">
  <div class="nav theme-bg-color--dark" data-hidden="false" data-current-level="0" data-sticky-status="visible">
    <div class="nav--wrapper">
      <header class="nav__header">
        <div class="nav__header-item--left">
          <div class="nav__header-item--title">
            <a href="https://about.twitter.com/" class="logo-title color--neutral-white nav__link">
                    <span class="logo">

                      <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72"><path d="M67.812 16.141a26.246 26.246 0 0 1-7.519 2.06 13.134 13.134 0 0 0 5.756-7.244 26.127 26.127 0 0 1-8.313 3.176A13.075 13.075 0 0 0 48.182 10c-7.229 0-13.092 5.861-13.092 13.093 0 1.026.118 2.021.338 2.981-10.885-.548-20.528-5.757-26.987-13.679a13.048 13.048 0 0 0-1.771 6.581c0 4.542 2.312 8.551 5.824 10.898a13.048 13.048 0 0 1-5.93-1.638c-.002.055-.002.11-.002.162 0 6.345 4.513 11.638 10.504 12.84a13.177 13.177 0 0 1-3.449.457c-.846 0-1.667-.078-2.465-.231 1.667 5.2 6.499 8.986 12.23 9.09a26.276 26.276 0 0 1-16.26 5.606A26.21 26.21 0 0 1 4 55.976a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.251-19.949 37.251-37.249 0-.566-.014-1.134-.039-1.694a26.597 26.597 0 0 0 6.533-6.774z"></path></svg>

                    </span>
              <span class="title type--bold-16 color--neutral-white" data-toggle-mobile-nav="true">About</span>
            </a>
            <a class="nav-icon nav__link" href="https://about.twitter.com/en_us/company.html#" data-toggle-mobile-nav="true">

              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="20" viewBox="0 0 34 20"><path d="M17 12.758L5.121.879a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l14 14a2.998 2.998 0 0 0 4.242 0l14-14C33.707 4.535 34 3.768 34 3s-.293-1.535-.879-2.121a2.998 2.998 0 0 0-4.242 0L17 12.758z"></path></svg>

            </a>
            <a class="nav-back nav__link color--neutral-white" href="https://about.twitter.com/en_us/company.html#" data-nav-back="true">
              <span class="title type--bold-16">Back</span>
            </a>
          </div>
        </div>
        <ul class="nav--menu" data-level="1">
          <li class="nav--mobile-item nav--menu__list-item " data-show-sub-level="false">
            <a href="https://about.twitter.com/" title="About" class="color--neutral-white nav__link">
              <span class="nav--menu__list-item-text">About</span>
            </a>
          </li>
          <li class="nav--menu__list-item   " data-show-sub-level="false">


            <a href="https://about.twitter.com/en_us/lets-go-twitter.html" class="color--neutral-white nav__link js-open-sub-menu" data-go-to-sub-level="false">
              <span class="nav--menu__list-item-text" data-go-to-sub-level="false">Let’s go Twitter</span>

            </a>

          </li>
          <li class="nav--menu__list-item is-active-link has-children " data-show-sub-level="false">


            <button href="/content/about-twitter/en_us/company.html" type="button" class="color--neutral-white nav__link js-open-sub-menu" data-go-to-sub-level="true">
              <span class="nav--menu__list-item-text" data-go-to-sub-level="true">Company</span>
              <span class="nav--menu__list-item-arrow" data-go-to-sub-level="true">

                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="20" viewBox="0 0 34 20"><path d="M17 12.758L5.121.879a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l14 14a2.998 2.998 0 0 0 4.242 0l14-14C33.707 4.535 34 3.768 34 3s-.293-1.535-.879-2.121a2.998 2.998 0 0 0-4.242 0L17 12.758z"></path></svg>

                  </span>
            </button>
            <ul class="nav--menu" data-level="2">
              <li class="nav--menu__list-item is-active-link">

                <a href="https://about.twitter.com/en_us/company.html" title="Our company" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Our company</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/company/our-culture.html" title="Our culture" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Our culture</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/company/careers.html" title="Careers" class="color--neutral-white nav__link" target="_blank" rel="noopener">
                  <span class="nav--menu__list-item-text">Careers</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/company/brand-resources.html" title="Twitter Brand Resources" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Twitter Brand Resources</span>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav--menu__list-item  has-children " data-show-sub-level="false">


            <button href="/content/about-twitter/en_us/values.html" type="button" class="color--neutral-white nav__link js-open-sub-menu" data-go-to-sub-level="true">
              <span class="nav--menu__list-item-text" data-go-to-sub-level="true">Values</span>
              <span class="nav--menu__list-item-arrow" data-go-to-sub-level="true">

                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="20" viewBox="0 0 34 20"><path d="M17 12.758L5.121.879a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l14 14a2.998 2.998 0 0 0 4.242 0l14-14C33.707 4.535 34 3.768 34 3s-.293-1.535-.879-2.121a2.998 2.998 0 0 0-4.242 0L17 12.758z"></path></svg>

                  </span>
            </button>
            <ul class="nav--menu" data-level="2">
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/values.html" title="Our values" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Our values</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/values/twitter-for-good.html" title="Twitter for Good" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Twitter for Good</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/values/civic-engagement.html" title="Twitter civic engagement" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Twitter civic engagement</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/values/pac.html" title="PAC" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">PAC</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/values/elections-integrity.html" title="Elections integrity" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Elections integrity</span>
                </a>
              </li>

            </ul>
          </li>
          <li class="nav--menu__list-item  has-children " data-show-sub-level="false">


            <button href="/content/about-twitter/en_us/safety.html" type="button" class="color--neutral-white nav__link js-open-sub-menu" data-go-to-sub-level="true">
              <span class="nav--menu__list-item-text" data-go-to-sub-level="true">Safety </span>
              <span class="nav--menu__list-item-arrow" data-go-to-sub-level="true">

                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="20" viewBox="0 0 34 20"><path d="M17 12.758L5.121.879a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242l14 14a2.998 2.998 0 0 0 4.242 0l14-14C33.707 4.535 34 3.768 34 3s-.293-1.535-.879-2.121a2.998 2.998 0 0 0-4.242 0L17 12.758z"></path></svg>

                  </span>
            </button>
            <ul class="nav--menu" data-level="2">
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/safety.html" title="Safety on Twitter" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Safety on Twitter</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/safety/safety-tools.html" title="Tools" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Tools</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/safety/enforcing-our-rules.html" title="Enforcing our rules" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Enforcing our rules</span>
                </a>
              </li>
              <li class="nav--menu__list-item ">

                <a href="https://about.twitter.com/en_us/safety/safety-partners.html" title="Safety partners" class="color--neutral-white nav__link">
                  <span class="nav--menu__list-item-text">Safety partners</span>
                </a>
              </li>

            </ul>
          </li>
        </ul>

        <div class="region-selector-mobile">
          <div class="region-selector" data-is-mobile="true" data-choose-text="Choose a region" data-back-text="Back">
            <div class="close-svg-container">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path d="M24.242 20L39.121 5.121a2.998 2.998 0 0 0 0-4.242 2.998 2.998 0 0 0-4.242 0l-14.88 14.879L5.122.879a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242L15.758 20 .879 34.879A2.998 2.998 0 0 0 3.001 40a2.99 2.99 0 0 0 2.121-.879L20 24.242l14.879 14.879a2.987 2.987 0 0 0 2.12.879 2.998 2.998 0 0 0 2.121-5.121L24.242 20z"></path></svg>
            </div>
            <div class="back-svg-container">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="72" viewBox="0 0 28 72"><path d="M6.035 35l14.232-14.232a2.498 2.498 0 0 0 0-3.535 2.498 2.498 0 0 0-3.535 0l-16 16a2.498 2.498 0 0 0 0 3.535l16 16c.488.488 1.128.732 1.768.732s1.28-.244 1.768-.732a2.498 2.498 0 0 0 0-3.535L6.035 35z"></path></svg>

            </div>
          </div>


        </div>
        <div class="nav__header-item--right">
          <div class="nav__header-item--region-selector">





            <div class="region-selector" data-is-mobile="false" data-choose-text="Choose a region" data-back-text="Back">
              <div class="close-svg-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path d="M24.242 20L39.121 5.121a2.998 2.998 0 0 0 0-4.242 2.998 2.998 0 0 0-4.242 0l-14.88 14.879L5.122.879a2.998 2.998 0 0 0-4.242 0 2.998 2.998 0 0 0 0 4.242L15.758 20 .879 34.879A2.998 2.998 0 0 0 3.001 40a2.99 2.99 0 0 0 2.121-.879L20 24.242l14.879 14.879a2.987 2.987 0 0 0 2.12.879 2.998 2.998 0 0 0 2.121-5.121L24.242 20z"></path></svg>

              </div>
              <div class="back-svg-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="72" viewBox="0 0 28 72"><path d="M6.035 35l14.232-14.232a2.498 2.498 0 0 0 0-3.535 2.498 2.498 0 0 0-3.535 0l-16 16a2.498 2.498 0 0 0 0 3.535l16 16c.488.488 1.128.732 1.768.732s1.28-.244 1.768-.732a2.498 2.498 0 0 0 0-3.535L6.035 35z"></path></svg>
              </div>
            </div>


          </div>
          <div class="nav__header-item--profile">
            <div class="u04 u04__show-profile">
              <a href="https://twitter.com/signup" class="u04__cta  is-hidden  atc-button  atc-button--white-outline">Sign Up</a>
              <a href="https://twitter.com/Tianwen123" class="u04__profile">
                <img class="u04__profile-img" src="https://pbs.twimg.com/profile_images/1004344176618754048/JBtrkZNx_normal.jpg">
              </a>
            </div>

          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="main">
  <div class="c20-masthead">
    <div class="c20 ">
      <div class="color theme-bg-color--dark c20__bgColorWrapper no-tabs">
        <div class="c20__contentWrapper container--mini container--mobile">
          <p class="c20__eyebrow theme-color--light">#Hackweek 2019</p>
          <h1 class="c20__headline color">Welcome to the greatest tweet radio (Car Play)!</h1>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
    <div class="container">
<app-text-to-speech></app-text-to-speech>
    </div>
  </div>
</div>
