<!--<h1> Speech synthesis </h1>-->

<!--<h2 id="support"></h2>-->

<!--<div>-->
<!--  <textarea id="text" style="width: 500px; height: 300px">Hello, how are you today ?</textarea>-->
<!--</div>-->

<h1 class="type--bold-36 color--neutral-black">Tweets</h1>
<div class="c40__rule theme-bg-color--dark"></div>
<div *ngFor="let tweet of tweets">
  <p >
    <span class="type--roman-16 color--neutral-black"> Tweet: {{tweet.text}}</span>
    <br>
    <span class="type--roman-14 color--neutral-dark-gray">AlreadyRead: {{tweet.isRead}}</span>
  </p>


</div>

<div class="atc-button--dark">
  <a class="atc-button " (click)="play()">Play this list</a>
  <a class="atc-button" (click)="pause()">Pause</a>
  <a class="atc-button" (click)="resume()">Resume</a>
</div>


